# Root level ignore
/.vscode/
/.idea/
/*.css
/*.html
/*.html_files
/build/
/dist/
/lib/
/setting/*.ini
/setting/*.xml
/src/
/KhanzaSecurity16bit/src/AESsecurity/*.java
/cache/
/webapps/conf/conf.php
/webapps/inacbg/conf/wsinacbg.php
/webapps/inacbg/conf/wsinacbg2.php
/webapps/inacbg/conf/wsinacbg.php
/webapps/inacbg/conf/wsinacbg.php
/webapps/conf/conf.php
/webapps/inacbg/conf/wsinacbg.php

*.DS_Store
*.*~*
*.csv
*.exe
*.jar
*.log
*.pdf
*.py
*.sql
*.txt
*.wps
*.xls
*.xlsx
*.py
*.txt

# Don't ignore these
!lisensi.txt
!README.TXT
!sik_bersih.sql
!sik_bridging_eklaim.sql
!sik_bridging_lab.sql
!sik_bridging_radiologi.sql
!sik_bridging_satusehat.sql
!sik_modif.sql
!sik.sql

KhanzaSecurity16bit/src/AESsecurity/EnkripsiAES.java
