<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>KhanzaHMS</comment>
    <entry key="PRINTER_REGISTRASI"></entry>
    <entry key="PRINTER_BARCODE"></entry>
    <entry key="PRINTER_ANTRIAN"></entry>
    <entry key="PRINTJUMLAHBARCODE">3</entry>
    <entry key="PRINTJUMLAHANTRIANFARMASI">2</entry>
    <entry key="URLAPLIKASIFINGERPRINTBPJS"></entry>
    <entry key="URLAPLIKASIFRISTABPJS"></entry>
    <entry key="USERFINGERPRINTBPJS">l4nh5eVYrLAER/I2A4b3Tw==</entry>
    <entry key="PASSWORDFINGERPRINTBPJS">l4nh5eVYrLAER/I2A4b3Tw==</entry>
    <entry key="TOMBOLDIMATIKAN">satusehat</entry>
    <entry key="KODEPOLIEKSEKUTIF"></entry>
    <entry key="REGISTRASISATUJAMSEBELUMJAMPRAKTEK">no</entry>
    <entry key="VALIDASIBIOMETRIKAKTIF">frista,fingerprint</entry>
</properties>
